@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
div.gallery {
  text-align: center;
  background-color: white;
}

div.gallery img {
  width: 95%;
  height: auto;
  border-radius: 10px;
  margin-top: 15px;
}

* {
  box-sizing: border-box;
  background-color: lightgray;
  border-radius: 10px;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  background-color: white;
  margin-left: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  border-radius: 10px;
}
h1 {
  font-size: 20px;
  background-color: white;
  letter-spacing: 2px;
  text-align: center; 
  font-weight: 400, 700;

  
}
p {
  font-size: 15px;
  background-color: white;
}
